<div class="carousel px-5">
  <owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>{{getPaginationData[0].title}}1</ng-template>
  <ng-template carouselSlide>{{getPaginationData[0].title}}2</ng-template>
  <ng-template carouselSlide>{{getPaginationData[0].title}}3</ng-template>
  <ng-template carouselSlide>{{getPaginationData[0].title}}4</ng-template>
  <ng-template carouselSlide>{{getPaginationData[0].title}}5</ng-template>
  <ng-template carouselSlide>{{getPaginationData[0].title}}6</ng-template>
</owl-carousel-o>
</div>