// Colors
$primary-color : #f44336;
$secondary-color : #000;
$ter-color : #f4f4f4;
$dark-light-text: #333;
$faint-light-text: #777;
$light-text : #f4f4f4;
$dark-text : #000;

// Spacing
$padding-sm: 0.5rem;
$padding-md: 1rem;
$padding-lg: 2rem;

// Font sizes
$font-sm: 0.875rem;
$font-md: 1rem;
$font-lg: 1.25rem;