.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.exclusiveForm{
    height: 350px;
    width: 400px;
}
.formImage{
    width: 500px;
    object-fit: cover;
}
.textDark{
    color: #000;
}

.formBtn{
  width: 100%;
  background-color: $primary-color;
  color: $light-text;
  &:hover{
    border: 1px solid $primary-color;
    background-color: $ter-color;
    color: $primary-color;
  }
}
.hasAccLink,
.googleBtn{
  color: $dark-text;
  &:hover{
    color: $dark-text;
    text-decoration: none;
  }
  img{
    width: 20px;
    margin-right: 20px;
  }
}
.googleBtn{
  border: 1px solid $dark-light-text;
}
