<div class="container today py-5">
    <div class="tag d-flex align-item-center">
        <span class="tagBox"></span>
        <p class="mt-1">Today's</p>
    </div>
    <div class="timer d-flex mt-2">
        <h1 class="main-title mr-5"><strong>Flash Sales</strong></h1>

        <div class="time-box mr-4">
            <div class="label mb-2"><strong>Days</strong></div>
            <div class="value time">{{ days | number : "2.0" }}</div>
        </div>
        <span class="colon"><strong>{{' : '}}</strong></span>
        <div class="time-box mr-4">
            <div class="label mb-2"><strong>Hours</strong></div>
            <div class="value time">{{ hours | number : "2.0" }}</div>
        </div>
        <span class="colon"><strong>{{' : '}}</strong></span>
        <div class="time-box mr-4">
            <div class="label mb-2"><strong>Minutes</strong></div>
            <div class="value time">{{ minutes | number : "2.0" }}</div>
        </div>
        <span class="colon"><strong>{{' : '}}</strong></span>
        <div class="time-box mr-4">
            <div class="label mb-2"><strong>Seconds</strong></div>
            <div class="value time">{{ seconds | number : "2.0" }}</div>
        </div>
    </div>
</div>