<div class="carousel-warpper">
     <owl-carousel-o [options]="customOptions" class="owl-theme">
    <ng-template carouselSlide>
      <img
        src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/f3832e180145769.6505ae76214ca.jpg"
        alt="Slide 1"
      />
    </ng-template>
    <ng-template carouselSlide>
      <img
        src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/f3832e180145769.6505ae76214ca.jpg"
        alt="Slide 2"
      />
    </ng-template>
    <ng-template carouselSlide>
      <img
        src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/f3832e180145769.6505ae76214ca.jpg"
        alt="Slide 3"
      />
    </ng-template>
  </owl-carousel-o>
</div>