<section class="footer-section ">
    <div class="container p-5">
        <div class="row">
            <div class="col">
                <Ul class="list-group footerList">
                    <li class="list-group-item">
                        <a href="javascript:;">
                            <h2 class="mb-0">Exclusive</h2>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="javascript:;">Subscribe</a>
                    </li>
                    <li class="list-group-item">
                        <a href="javascript:;">Get 10% off your first order</a>
                    </li>
                    <li class="list-group-item">
                        <div class="search-wrapper d-flex align-items-center">
                            <input type="text" class="form-control exclusiveSearch border-0 shadow-none"
                                placeholder="Enter your email" />
                            <span class="material-icons search-icon">search</span>
                        </div>
                    </li>
                </Ul>
            </div>
            <div class="col">
                <Ul class="list-group footerList">
                    <li class="list-group-item">
                        <a href="javascript:;">
                            <h2 class="mb-0">Support</h2>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="javascript:;">111 Bijoy sarani, Dhaka,
                            DH 1515, Bangladesh.</a>
                    </li>
                    <li class="list-group-item">
                        <a href="mailto:exclusive@gmail.com">{{'exclusive@gmail.com'}}</a>
                    </li>
                    <li class="list-group-item">
                        <a href="tel:+88015-8888-9999">+88015-8888-9999</a>
                    </li>
                </Ul>
            </div>
            <div class="col">
                <Ul class="list-group footerList">
                    <li class="list-group-item">
                        <a href="javascript:;">
                            <h2 class="mb-0">Account</h2>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="javascript:;">My Account</a>
                    </li>
                    <li class="list-group-item">
                        <a href="javascript:;">Login</a> / <a href="">Register</a>
                    </li>
                    <li class="list-group-item">
                        <a href="javascript:;">Cart</a>
                    </li>
                    <li class="list-group-item">
                        <a href="javascript:;">Wishlist</a>
                    </li>
                    <li class="list-group-item">
                        <a href="javascript:;">Shop</a>
                    </li>
                </Ul>
            </div>
            <div class="col">
                <Ul class="list-group footerList">
                    <li class="list-group-item">
                        <a href="javascript:;">
                            <h2 class="mb-0">Quick Link</h2>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="javascript:;">Privacy Policy</a>
                    </li>
                    <li class="list-group-item">
                        <a href="javascript:;">Terms of use</a>
                    </li>
                    <li class="list-group-item">
                        <a href="javascript:;">FAQ</a>
                    </li>
                    <li class="list-group-item">
                        <a href="javascript:;">Contact</a>
                    </li>
                </Ul>
            </div>
            <div class="col">
                <Ul class="list-group footerList">
                    <li class="list-group-item">
                        <a href="javascript:;">
                            <h2 class="mb-0">Download App</h2>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <div class="download">
                            <p>Save S3 with app new user only</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="barcode">
                                        <img src="../../../../assets/scss/images/qrcode.png" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="store">
                                        <a class="btn-link mb-4" href="https://play.google.com/store/games?hl=en"><img
                                                src="../../../../assets/scss/images/gplay.png" alt=""></a>
                                        <a class="btn-link" href="https://www.apple.com/in/app-store/"><img
                                                src="../../../../assets/scss/images/appstore.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <a href="javascript:;">Terms of use</a>
                    </li>
                </Ul>
            </div>
        </div>
    </div>
    <div class="copyright text-center mb-3">
        <p><i class="fa-regular fa-copyright"></i>Copyright Rimel 2022. All right reserved</p>
    </div>
</section>