<section class="footer-section p-5">
    <div class="row">
        <div class="col">
            <Ul class="list-group footerList">
                <li class="list-group-item">
                    Exclusive
                </li>
                <li class="list-group-item">
                    Subscribe
                </li>
                <li class="list-group-item">
                    Get 10% off your first order
                </li>
                <li class="list-group-item">
                    <div class="search-wrapper d-flex align-items-center">
                        <input type="text" class="form-control exclusiveSearch border-0 shadow-none"
                            placeholder="Enter your email" />
                        <span class="material-icons search-icon">search</span>
                    </div>
                </li>
            </Ul>
        </div>
        <div class="col">

        </div>
        <div class="col">

        </div>
        <div class="col">

        </div>
        <div class="col">

        </div>
    </div>
</section>